@import "./_variables.scss";
@import "./_mixins.scss";

@import "./Promotion.scss";

.App {
  font-family: 'Arial';
  color: $gray;
  font-size: $small;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#cccccc, $white) !important;
  @include phone {
    padding: 1rem;
  }
}